body{
	margin:0px;
	padding: 0px;
	font-family: Arial, Helvetica, sans-serif;
}

.grid-container {
  display: grid;
  grid-template-columns:220px 1fr;
  grid-template-rows: 50px 1fr 50px;
  grid-template-areas:
    "sidenav header"
    "sidenav main"
    "sidenav footer";
  	height: 100vh;  
}

.header {
  grid-area: header;
  background-color: #333039;
}
  

.sidenav {
  grid-area: sidenav;
  background-color: #1f1b24;
}


.footer {
  grid-area: footer;
  background-color: #333039;
}


.main {
	padding:20px;
	grid-area: main;
	background-color: #121212;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-template-rows: 270 140px 140px;
	grid-gap:20px;
	position:relative;
  }

#card1 {
  grid-column-start: 1;
  grid-column-end: 2;

  grid-row-start: 1;
  grid-row-end: 3;
  
}
#card5 {
	grid-column-start: 2;
	grid-column-end: 3;
  
	grid-row-start: 1;
	grid-row-end: 3;
	
  }

#card2 {
  grid-column-start: 3;
  grid-column-end: 4;
  
  grid-row-start: 1;
  grid-row-end: 3;
}

#card3 {
	grid-column-start: 1;
	grid-column-end: 3;
  grid-row-start: 3;
  grid-row-end: 3;
}

#card4 {
	grid-column-start: 3;
  grid-column-end: 4;
  grid-row-start: 3;
  grid-row-end: 3;
}

.card-content{
	padding: 30px;
}

.card-header{
	background-color:#333039;
	height: 40px;
	border-radius: 5px 5px 0 0;
}

.card-header p{
	margin: 0px;
	padding:0px;
	position:relative;
	top:12px;
	left:12px;
	color:#9e9999;
}
.card {
  border-radius: 5px;
  background-color:#1f1f1f;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}

.card:hover{
	background-color: #363636;
}




#menu{
	margin-top:60px;
	display: flex;
	flex-direction: column;	
}

#menu div{
	border-bottom:1px solid #c38ffe;
	background-color:#363636;
	box-shadow: 0 3px 3px rgba(0,0,0,0.2), 0 1px 2px rgba(0,0,0,0.6);
	transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}

#menu div:hover{
  opacity:95%;
  cursor: pointer;
 
}

#menu div p{	
	background-color:#363636;
	padding:9px;
	margin-top:0px;
	margin-bottom:0px;
	margin-left:8px;
	color: white;
	font-size:11pt;
}

#logo{
	display:flex;
	background-color:#fffacb;
	box-shadow: 0 10px 30px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}

#logo *{
	padding:5px;
}

#logo p{
	color:#363636;
	font-weight:bold;
	font-size:12pt;
	padding:0px;
	margin:12px 0 0 10px;
}

#dash-title{
	margin:0px;
	color:white;
	position: relative;
	top:15px;
	left:20px;
	font-size: 13pt;
}


button{
	height:32px; 
	cursor:pointer;				
	border:0px; 
	color:#121212;
	font-weight: bold; 
	border-radius: 8px;
	box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
	transition: all 0.3s cubic-bezier(.25,.8,.25,1);
	font-size: 11pt;
	
}


button:hover{
	opacity:95%;
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}	

button:active{
	opacity:70%;
	box-shadow: 2px 3px 6px 1px rgba(0,0,0,0.3);
	background-color:#648ca6
}	

#btn_refresh{
	background-color:#c38ffe;
	position:absolute;
	top:8px;
	right:20px;
	width:100px;
}


